[submodule "assets/templates"]
	path = assets/templates
	url = https://github.com/tuackng/templates.git
[submodule "vendor/testlib"]
	path = vendor/testlib
	url = https://github.com/MikeMirzayanov/testlib.git
	shallow = true